.code-editor {
  position: relative;
  height: 100%;
  width: 100%;
}

.btn {
  position: absolute !important;
  right: 5px;
  top: 5px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.code-editor:hover .btn {
  opacity: 1;
}
